:root {
	--color-text: rgb(0, 28, 62);
	--color-card: rgb(246, 248, 254);
	--color-accent: rgb(218, 226, 250);
	--color-button: rgb(49, 37, 221);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
